<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.ImageMapper">

    <resultMap id="AdvertisementResultMap" type="com.project.bean.Advertisement">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="image_url" property="imageUrl"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <!-- 插入广告信息 -->
    <insert id="insertAdvertisement" parameterType="com.project.bean.Advertisement">
        INSERT INTO advertisements
        (
        <if test="title != null">title,</if>
        <if test="description != null">description,</if>
        <if test="imageUrl != null">image_url,</if>
        start_date,
        end_date,
        created_at,
        updated_at
        )
        VALUES
        (
        <if test="title != null">#{title},</if>
        <if test="description != null">#{description},</if>
        <if test="imageUrl != null">#{imageUrl},</if>
        NOW(),
        NOW() + INTERVAL 30 DAY,
        NOW(),
        NOW()
        )
    </insert>

    <select id="selectAllAdvertisements" resultMap="AdvertisementResultMap">
        SELECT * FROM advertisements
    </select>

    <delete id="deleteAdvertisement" parameterType="int">
        DELETE FROM advertisements WHERE id = #{adId}
    </delete>
</mapper>
